In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("C:\\Users\\GPT BANTWAL\\Downloads\\Book1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   height   7 non-null      float64
 1   weight   6 non-null      float64
 2   color    5 non-null      object
 3   Age      8 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 388.0+ bytes

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("C:\\Users\\GPT BANTWAL\\Downloads\\Book1.csv")
df
df.isna()

   height   weight  color    Age
0    False   False  False  False
1    False   False   True  False
2     True    True  False  False
3    False    True  False  False
4    False   False  False  False
5    False   False   True  False
6    False   False  False  False
7    False   False   True  False

In [8]:
import pandas as pd

In [9]:
sr=pd.Series([12,5,None,5,None,11])
sr
sr.isna()

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [13]:
cars_df=pd.read_csv("C:\\Users\\GPT BANTWAL\\Downloads\\Cars931611042729436\\Cars93.csv")
cars_df

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [14]:
df=cars_df.dropna(axis=0)
df.isnull().sum()

Unnamed: 0            0
Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
Origin                0
Make                  0
dtype: int64

In [16]:
df=cars_df.drop(['Model'],axis=1)
df.isnull().sum()

Unnamed: 0             0
Manufacturer           0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [18]:
cars_df['Model']=cars_df['Model'].fillna(0)
cars_df['Model'].isnull().sum()

0

In [24]:
cars_df['Length'] = cars_df['Length'].fillna(cars_df['Length'].mean())
cars_df['Length']

0     177
1     195
2     180
3     193
4     186
     ...
88    187
89    180
90    159
91    190
92    184
Name: Length, Length: 93, dtype: int64

In [25]:
cars_df['Luggage.room'] = cars_df['Luggage.room'].fillna(cars_df['Luggage.room'].mode()[0])
cars_df['Luggage.room']

0     11.0
1     15.0
2     14.0
3     17.0
4     13.0
      ...
88    14.0
89    14.0
90    15.0
91    14.0
92    15.0
Name: Luggage.room, Length: 93, dtype: float64

In [27]:
cars_df['MPG.highway']=cars_df['MPG.highway'].fillna(cars_df['MPG.highway'].median())
cars_df['MPG.highway']

0     31
1     25
2     26
3     26
4     30
      ..
88    21
89    30
90    25
91    28
92    28
Name: MPG.highway, Length: 93, dtype: int64

In [28]:
 credit_df=cars_df.filna(method='ffill')
 credit_df

AttributeError: 'DataFrame' object has no attribute 'filna'